* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  background: rgba(158, 158, 158, 0.05);
  width: 1100px; }

.clearfix {
  overflow: auto; }

a {
  text-decoration: none !important; }

.header {
  height: 65px;
  width: 1100px;
  border: solid 1px lightgrey;
  background: white; }

.logo {
  margin: 12px 24px;
  font-size: 33px;
  font-family: 'Playfair Display', serif;
  float: left; }
  .logo a {
    color: #F54E00; }

.input-box {
  width: 300px;
  height: 25px;
  border: solid 1px lightgrey;
  float: left;
  display: inline-block;
  margin: 19px 0px; }
  .input-box input {
    width: 300px; }

.search-button {
  width: 55px;
  height: 25px;
  padding-top: 2px;
  background: #34A7C2;
  text-align: center;
  margin: 19px;
  margin-right: 345px;
  margin-left: 0px;
  display: inline-block; }
  .search-button a {
    color: white;
    font-size: 11px; }

.sell {
  margin: 4px;
  display: inline-block;
  font-size: 12px;
  color: #34A7C2; }
  .sell a {
    color: #34A7C2; }

.register {
  padding: 5px;
  display: inline-block;
  font-size: 12px;
  color: #34A7C2; }
  .register a {
    color: #34A7C2; }

.sign-in {
  margin: 0px 5px;
  font-size: 12px;
  border-radius: .25em;
  border: 2px #34A7C2 solid;
  display: inline-block;
  padding: 7px; }
  .sign-in a {
    color: #34A7C2; }

.shop-cart {
  width: 35px;
  height: 35px;
  border-left: 2px lightgrey solid;
  font-size: 9px;
  margin: 15px;
  margin-right: 36px;
  margin-left: 15px;
  float: right;
  padding-left: 8px;
  text-align: center; }

.nav-bar {
  width: 1100px;
  height: 40px;
  font-size: 12px;
  color: grey;
  border: 1px grey solid;
  text-decoration: none !important;
  background: white; }
  .nav-bar ul {
    padding-left: 20px; }
  .nav-bar ul li {
    display: inline-block;
    margin: 0px 5px; }

.show-res {
  font-size: 12px;
  color: black;
  width: 15%;
  height: 20px;
  float: left;
  padding-top: 20px;
  margin-left: 26px;
  margin-bottom: 20px; }

.allcat {
  height: 350px;
  width: 15%;
  margin-left: 27px;
  font-size: 12px;
  color: black;
  padding-top: 14px;
  margin-bottom: 20px;
  clear: both;
  border: 1px solid lightgrey;
  float: left;
  background: white; }
  .allcat a {
    padding-left: 7px;
    color: black; }
  .allcat .categories {
    width: 160px;
    height: 311px;
    font-size: 12px;
    margin-left: 1px;
    margin-top: 10px;
    padding-left: 7px;
    padding-top: 3px;
    color: #34A7C2; }
  .allcat li {
    width: 150px;
    height: 20px;
    text-decoration: none !important;
    list-style: none; }
  .allcat li a {
    color: #34A7C2; }

.container {
  width: 842px;
  height: 840px;
  float: right;
  border: solid lightgrey 1px;
  margin: 0px 33px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.productBox {
  width: 200px;
  height: 200px;
  float: left;
  font-size: 10px;
  margin: 5px;
  border: 1px black solid;
  background: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 }


.imageSize {
  width: 198px;
  height: 158px; }

.imageBox {
  width: 200px;
  height: 158px; }

p.title {
  height: 8px;
  width: 190px;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-right: 5px;
}


p.shopname {
  float:left;
  display: inline-block;
  width: 75%;
  height: 8px;
  margin: 0px;
  color:rgb(158, 158, 158);

}
p.price {
  float: right;
  display: inline-block;
  width: 20%;
  height:8px;
  margin: 2px;
  color: rgb(31, 201, 31);
  /*z-index: 2;*/
}

.view-results {
  clear: both;
}
