* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.clearfix {
  overflow: auto; }

a {
  text-decoration: none !important; }

.header {
  height: 65px;
  width: 1100px;
  border: solid 1px lightgrey; }
  .header ul {
    padding-left: 20px;
    display: inline-block; }
  .header ul li {
    display: inline-block;
    font-size: 12px;
    margin: 0px 3px; }
  .header .logo {
    margin-top: 8px;
    margin-right: 15px; }
  .header .logo a {
    color: #F54E00;
    font-size: 33px;
    font-family: 'Playfair Display', serif; }
  .header .input-box {
    width: 300px;
    height: 25px;
    font-size: 10px;
    border: solid 1px lightgrey;
    color: white; }
  .header .search-button {
    width: 50px;
    height: 25px;
    font-size: 12px;
    background: #34A7C2;
    text-align: center;
    color: white; }
    .header .search-button a {
      color: white; }
  .header .leftArea {
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 24px; }
  .header .rightArea {
    float: right; }
  .header .customer-input {
    font-size: 12px;
    color: teal;
    width: 50px;
    height: 15px; }
  .header .shop-cart {
    width: 25px;
    height: 25px;
    margin-right: 25px; }

.nav-bar {
  width: 1100px;
  height: 40px;
  font-size: 12px;
  color: grey;
  border: 1px grey solid;
  text-decoration: none !important; }
  .nav-bar ul {
    padding-left: 20px; }
  .nav-bar ul li {
    display: inline-block;
    margin: 0px 5px; }

.show-res {
  color: black;
  width: 100px;
  height: 200px; }

.categories {
  width: 120px;
  height: 375px;
  text-decoration: none; }
